<input
  [formControl]="control"
  [type]="type"
  [placeholder]="placeholder"
  [mask]="format"
  [dropSpecialCharacters]="false"
  class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
/>
<ng-container *ngIf="control.touched && control.dirty">
  <p *ngIf="control.errors?.required" class="text-red-400 text-sm">
    Field is required
  </p>
  <p *ngIf="control.errors?.email" class="text-red-400 text-sm">
    Invalid email
  </p>
  <p *ngIf="control.errors?.pattern" class="text-red-400 text-sm">
    Passwords must be at least 8 characters long, have 1 uppercase letter, 1
    lowercase letter, and 1 number
  </p>
  <p *ngIf="control.errors?.min" class="text-red-400 text-sm">Value too low</p>
  <p *ngIf="control.errors?.max" class="text-red-400 text-sm">Value too high</p>
  <p *ngIf="control.errors?.minlength" class="text-red-400 text-sm">
    The value you inputted is
    {{ control.errors?.minlength.actualLength }} characters long. It must at
    least be
    {{ control.errors?.minlength.requiredLength }}
    characters long.
  </p>
</ng-container>
